body {
    background: url('pur.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header{
    background-color:#f3f3eb;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 600px;
    padding-left: 600px;

}
.sec{
    padding: 50px;
    display: flex; 
    background: url("pur.jpeg");
    
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;

  }
  
  .movie-details {
    display: flex;
    align-items: center;
  }
  
  .movie-details video {
    max-width: 200px;
    margin-right: 20px;
    height: 230px;
    width: 500px;
  }
  
  .details {
    flex: 1;
  }
  .details h2{
    color: rgb(177, 114, 74);
	
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .details strong{
    font-size:15px ;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(135, 154, 27);
  }
  .details p{
    font-size:15px ;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(175, 164, 148);
  }